node_modules/
.env
public/css
public/js
vendor/
.git
.vscode
public/storage
bootstrap/cache/*.php
storage/logs/*.log
storage/framework/cache/*.php
storage/framework/sessions/*.php
storage/framework/views/*.php
