@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/code.css";

body {
    @apply bg-gray-800 relative text-white min-h-screen;
    @apply flex flex-col;
}

main {
    @apply max-w-screen-lg flex flex-col;
    @apply md:px-16 px-4 w-full mx-auto;
}

.feather {
    @apply w-6 h-6 stroke-current stroke-2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
