{{ define "main" }}
  <div class="flex flex-col xl:flex-row-reverse gap-8 mb-12">
    <aside class="text-gray-900 w-full xl:w-64 relative">
      <section
        class="rounded-md shadow-lg bg-gray-100 px-4 py-4 xl:sticky xl:top-8"
      >
        <h1 class="text-xl text-teal-600 font-semibold py-2 uppercase">Tags</h1>
        <ul class="flex flex-wrap xl:px-1">
          {{ if .Params.tags }}
            {{ range .Params.tags | first 5 }}
              <li class="mr-2 mb-2 p-1">
                <a
                  href="{{ "tags/" | relLangURL }}{{ . }}"
                  title="{{ . }}"
                  class="text-indigo-500 hover:text-indigo-400 font-medium font-mono tag"
                >
                  #{{ . }}
                </a>
              </li>
            {{ end }}
          {{ else }}
            <li class="mr-2 mb-2">Pas de tag pour ce post</li>
          {{ end }}
        </ul>
      </section>
    </aside>

    <article
      class="post rounded-md shadow-lg bg-gray-100 px-2 py-12 xl:px-8 text-gray-900 flex-1 max-w-full min-w-[300px]"
    >
      <header class="mb-10">
        <div class="mb-4 flex flex-col xl:flex-row mx-4 flex-1">
          <h1 class="text-4xl font-bold mb-4 flex-1">{{ .Title }}</h1>

          <div class="text-sm text-gray-700 text-right mt-4">
            <p class="italic">
              Publié le
              {{ .Page.PublishDate | time.Format "02 January 2006" -}}
            </p>
            <p>
              <span>
                {{ .WordCount }}
                mots
              </span>
              <span class="split">·</span>
              <span>
                {{ .ReadingTime }}
                minutes pour lire
              </span>
            </p>
          </div>
        </div>
      </header>

      {{ with .Params.featured_image }}
        <figure class="banner mb-10">
          {{ $img := .image | $.Resources.Get }}
          {{ $img = $img.Resize "x1000 webp picture" }}

          {{ $caption := "" }}
          {{ with .caption }}
            {{ $caption = . }}
          {{ else }}
            {{ $caption = $img.Title }}
          {{ end }}


          <img
            class="aspect-auto mx-auto object-cover antialiased w-full"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{ $img.RelPermalink }}"
            alt="{{ $caption }}"
            title="{{ $caption }}"
          />

          {{ with $.Params.caption }}
            <figcaption>{{ . }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}


      <div
        class="my-8 mx-2 prose xl:prose-lg prose-slate lg:max-w-none text-justify prose-headings:text-teal-600"
      >
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
