@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility container {
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
}

.hi-svg-inline {
  vertical-align: -0.125rem;
}

/*
 * Zoom Containers
 */
div:not(.zoom-container) {
  figure {
    @apply max-w-screen-lg;
  }

  figure {
    @apply mb-4 mx-auto container;

    img,
    iframe {
      @apply mx-auto aspect-auto antialiased;
    }

    &.banner img {
      @apply aspect-auto mx-auto object-cover antialiased w-full max-w-full max-h-[32rem];
    }
  }

  figcaption {
    @apply text-center text-gray-700 italic;
    @apply mt-1 text-sm;
  }
}

html:has(.zoom-container) {
  @apply overflow-hidden;
}

.zoom-container {
  @apply fixed top-0 left-0 w-screen h-screen z-50;
  @apply flex items-center justify-center;

  &::before {
    @apply bg-black/75 absolute inset-0 -z-10 backdrop-blur-sm;
    content: "";
  }

  figure {
    @apply m-auto p-4;

    img {
      @apply mx-auto max-h-[75vh] aspect-auto object-contain;
    }

    figcaption {
      @apply text-center text-gray-100 italic;
      @apply mt-1 text-sm;
    }
  }
}

/*
 * Prose override
 */
@layer utilities {
  article .prose {
    @apply prose-a:text-teal-600 hover:prose-a:text-teal-500 prose-a:no-underline;

    hr {
      @apply w-48 h-1 mx-auto border-0 rounded bg-teal-700/50;
    }
  }
}

/*
 * Twemoji
 */
.twemoji {
  @apply antialiased inline-block w-6 h-6 align-[-0.4em];

  margin: 0 0.05em 0 0.05em;
}

/*
 * Text hihglight
 */
div.highlight {
  @apply rounded-lg overflow-hidden;

  pre {
    @apply mt-0;

    code {
      @apply grid;
    }
  }
}

/*
 * Table of Contents
 */
#TableOfContents {
  ul,
  ol {
    @apply flex flex-col xl:px-2 text-sm gap-y-2 gap-x-4;

    li {
      @apply list-decimal list-inside marker:text-indigo-500;
      @apply whitespace-nowrap overflow-hidden text-ellipsis  text-indigo-500 has-[>a:hover]:hover:text-indigo-400;

      a {
        @apply font-medium;
      }

      ul,
      ol {
        @apply pl-4 pt-2;
      }
    }
  }
}
