<div
  class="rounded-md shadow-lg bg-gray-100 px-2 py-4 lg:p-8 mb-12 text-gray-900 flex-1 flex flex-col lg:flex-row gap-4"
>
  {{ with .Params.featured_image }}
    {{ $img := .image | $.Resources.Get }}
    {{ $img = $img.Resize "x250 webp picture" }}


    <img
      src="{{ $img.RelPermalink }}"
      alt="{{ .Title }}"
      class="w-full lg:w-1/4 aspect-auto object-cover object-center antialiased rounded-md"
    />
  {{ end }}


  <aside>
    {{ .TableOfContents }}
  </aside>

  <div class="flex-1 flex-col mx-4">
    <header class="flex flex-col lg:flex-row lg:items-center">
      <h1 class="text-4xl font-bold mb-1 lg:mb-0 flex-1">
        <a href="{{ .Page.Permalink }}">{{ .Title }}</a>
      </h1>

      <p class="italic text-sm text-gray-700">
        Publié le
        {{ .Page.PublishDate.Format "02/01/2006" -}}
      </p>
    </header>

    {{- if .Params.tags }}
      <div class="flex flex-row flex-wrap gap-2 my-2 lg:my-0">
        {{ range .Params.tags | first 5 }}
          <p class="block p-1">
            <a
              href="{{ "tags/" | relLangURL }}{{ . }}"
              title="{{ . }}"
              class="tag text-md text-indigo-500 hover:text-indigo-400 font-medium font-mono"
            >
              #{{ . }}
            </a>
          </p>
        {{ end }}
      </div>
    {{ end }}


    <article class="prose max-w-none text-justify">
      {{ .Summary }}
    </article>
  </div>
</div>
